.footer{
    
    display: flex;
    align-items: center;
    gap: 0;
    justify-content: center;
    padding: 70px 50px;
    margin-top: 120px;

}

.year-tag{
    color: #b3afaf;
    font-size: 15px;
    padding-right: 10px;
}


.footerTitle{
    font-size: 18px;
    font-weight: 40px;
    color: #fff;
}